<h2>{% block title Heading %}</h2>
<p>
    {% block detail %}
    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    {% endblock %}
</p>
{% block know_more %}
<p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}