<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        {% include 'one_column_block.html.twig' %}
    </div>
    <div class="span4">
        {% include 'one_column_block.html.twig' %}
    </div>
    <div class="span4">
        {% include 'one_column_block.html.twig' %}
    </div>
</div>